@font-face {
    font-family: "EB Garamondmedium";
    src: local ("EB Garamondmedium"),
    url("ebgaramondmedium.woff2") format("woff2"),
    url("ebgaramondmedium.woff") format("woff"),
    url("ebgaramondmedium.ttf") format("truetype"),
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "EB Garamondregular";
    src: 
    local ("EB Garamondregular"), local ("EB Garamond regular"),
    url("ebgaramondregular.woff2") format("woff2"),
    url("ebgaramondregular.woff") format("woff"),
    url("ebgaramondregular.ttf") format("truetype"),
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Interregular";
    src: 
    local ("Interregular"), local ("Inter regular"),
    url("interregular.woff2") format("woff2"),
    url("interregular.woff") format("woff"),
    url("interregular.ttf") format("truetype"),
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Interbold";
    src: 
    local ("Interbold"), local ("Inter bold"),
    url("interbold.woff2") format("woff2"),
    url("interbold.woff") format("woff"),
    url("interbold.ttf") format("truetype"),
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}